---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Formulario de contacto" >

    <main class="container mx-auto my-4 px-4 lg:px-20 mt-20 mb-20 ">
        <form class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5 w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-xl font-custom border-t">
            <h1 class=" sm:col-span-2 font-bold uppercase text-5xl max-sm:text-4xl">Mandanos<br /> un mensaje</h1>

                <label >
                        Nombre:
                <input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" type="text" name="first_name" placeholder="Nombre*" required />
                </label>

                <label >
                    Apellido:
                <input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" type="text" name="last_name" placeholder="Apellido*" required />
                </label>
                <label>
                    Email:
                <input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" type="email" name="email" placeholder="tu@email.com*" required />
                </label>
                <label>
                    Telefono:
                <input class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" type="tel" name="phone" placeholder="Telefono*" pattern="[0-9]{9}" required />
                </label>
                <label class="sm:col-span-2">
                    Mensaje:
                <textarea placeholder="Mensaje*" class="sm:col-span-2 w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" name="message" required></textarea>
                </label>
                    
                <button class=" w-20 my-2 lg:w-32 uppercase text-sm font-bold tracking-wide bg-orange-500 text-gray-100 p-3 rounded-lg focus:outline-none focus:shadow-outline hover:bg-orange-700 duration-300">
                Enviar
                </button>
                
            </form>
            
            <div class="w-full lg:-mt-96 lg:w-2/6 px-8 py-12 ml-auto bg-orange-500 rounded-2xl font-custom">
                    <div class="flex flex-col text-white">
                        <h1 class=" font-customfont-bold uppercase text-4xl max-sm:text-3xl my-4">Contacta con Nosotros</h1>
                        <p class=" font-custom  text-white ">
                            Ponte en contacto con nosotros para discutir tus proyectos y recibir un presupuesto personalizado.
                            En Reformas Nour, estamos comprometidos con la excelencia, la innovación y la satisfacción del cliente. 
                            ¡Haz tus sueños de reforma realidad con nosotros!
                        </p>
            </div>
            <div class="flex mt-10 w-2/3 lg:w-1/2 ">
                  <a href="tel:34652729975" class=" font-custom text-xl text-white">Llamanos <br><span class="icon-container">652729975</span> </a> </br>
                  <a href="tel:+34632950927" class=" font-custom text-lg text-white">Llamanos <br><span class="icon-container">632950927</span> </a>
            </div>
    </main>
</Layout>

