---
import Layout from '../layouts/Layout.astro';
import MasInformacion from '../components/MasInformacion.astro'
import '@fontsource/raleway/200.css';
import '@fontsource/raleway/500.css';
import '@fontsource/raleway/600.css';
import '@fontsource/raleway/800.css';
---

<Layout title="Reformas en Calafell, Vendrell, Segur de Calafell, Cunit, Cubelles | Reformas Nour" >
	<hero  class=" max-sm:px-2 bg-hero bg-bottom w-screen h-[40rem] max-sm:bg-left  bg-no-repeat bg-cover flex items-center">
		<div class="mx-auto max-w-6xl max-sm:max-w-[22rem]">
			<div class=" items-start content-start">
			<p class="animacion text-white font-custom font-extralight ">Bienvenido a</p>
			<h1 class="animacion text-stroke font-custom font-extrabold uppercase mb-4 items-center text-black text-5xl">Reformas <span class="  text-orange-500">Nour</span> </h1>
			<p class="animacion-delay sm:w-4/6 leading-6 font-custom text-white mb-10 ">En Reformas Nour Estamos aquí para convertir tus ideas en realidad. Si estás planeando una reforma integral o simplemente deseas realizar mejoras específicas, Reformas Nour es tu socio ideal. Ponte en contacto con nosotros para discutir tus proyectos y recibir un presupuesto personalizado.</p>
			<a href="/formulario" class=" animacion-op w-28 bg-orange-500 hover:bg-white hover:text-orange-500 transition  duration-500 p-2 text-white font-custom font-bold uppercase"> Contacto</a>
			</div>
		</div>

	</hero>

	<section class=" mt-[4rem] mx-auto max-w-6xl  grid grid-cols-3 max-sm:flex max-sm:flex-col">
		<div class=" max-w-2xl p-5 col-start-1 col-end-3 ">
			<h2 class=" mb-12 font-custom font-extrabold text-7xl text-orange-500 max-sm:text-6xl max-sm:text-center">Sobre Nosotros</h2>
			<p class=" font-custom font-extralight leading-8 text-lg mt-2 ">Bienvenido a Reformas Nour, tu socio confiable en el mundo de las transformaciones para hacer de tu espacio un lugar único y funcional. </p>
			<p class=" font-custom font-extralight leading-8 text-lg mt-2">En Reformas Nour, nos enorgullece ofrecer una gama completa de servicios de alta calidad para satisfacer todas tus necesidades de reforma y construcción. </p>
			<p class=" font-custom font-extralight leading-8 text-lg mt-2 text-pretty">Desde alicatados y albañilería hasta instalaciones eléctricas y fontanería, nuestro equipo de expertos está aquí para hacer realidad tus sueños de diseño y renovación.</p>
		</div>
		<video class="h-[35rem] max-sm:h-[16rem] aspect-w-9 aspect-h-16 object-cover w-full" autoplay muted loop>
			<source src="/sobre-nosotros.mp4" type="video/mp4">
		</video>
	</section>

	<main class="max-w-6xl mx-auto mt-40 mb-20 "> 
		<h2 class=" uppercase max-sm:mb-7  text-orange-500 font-custom font-extrabold after:border-b-2 after:border-b-orange-500 text-6xl text-center mb-20 max-sm:text-5xl border-bottom sm:mb-32">Nuestos servicios</h2>
		<div class=" max-sm:mx-auto grid grid-cols-2 grid-rows-2 max-md:flex max-md:flex-col max-md:bg-none bg-alicatado bg-no-repeat bg-cover bg-left ">
			<div class=" col-start-1 row-start-2  bg-white p-10 max-md:p-5 max-sm:bg-transparent max-md:bg-transparent">
				<h2 class=" mb-12 max-sm:mb-5 font-custom font-extrabold text-5xl max-sm:text-3xl max-md:text-center  text-orange-500 ">Alicatado y Solado</h2>
				<p class="font-custom font-extralight leading-7">En Reformas Nour, nos enorgullece ofrecer servicios excepcionales de alicatado y solado, transformando tus espacios en áreas de belleza y funcionalidad. </p>
				<p class="mb-4 font-custom font-extralight mt-2 leading-7">Sabemos que la elección de los revestimientos es crucial para la estética general y la durabilidad de cualquier proyecto de reforma, y es por eso que nos comprometemos a ofrecer soluciones de alta calidad que superen tus expectativas.</p>
				<MasInformacion />
			</div>
			<img src="/alicatado.webp" class="md:hidden" alt="Imagen de alicatado">
		</div>
		<div class=" max-md:mx-auto mt-32 grid grid-cols-2 max-md:flex max-md:flex-col max-md:mb-32">
			<img class=" m-0 h-4/5 max-md:hidden" src="/tarima.webp" alt="Imagen de tarima">
			<div class="max-md:mx-auto col-start-2 bg-white  ">
				<div class=" max-sm:px-5 max-sm:mx-auto">
				<h2 class="  mb-12 max-md:mb-5 font-custom font-extrabold text-5xl w-full max-sm:text-3xl max-md:text-center text-orange-500">Carpintería y Tarima</h2>
				<p class=" font-custom font-extralight mt-2 leading-7">En Reformas Nour, elevamos la carpintería y la instalación de tarima a un nivel superior, ofreciéndote una fusión perfecta de elegancia artesanal y calidez natural. </p>
				<p class=" font-custom font-extralight leading-7 mt-2 mb-3">Nos enorgullece presentar servicios que van más allá de lo convencional, creando elementos de carpintería personalizados y suelos de tarima que transforman tus espacios en expresiones auténticas de estilo y confort.</p>
				<MasInformacion />
				</div>
				<video class=" mt-7 row-start-2 col-start-2 object-cover w-full" autoplay muted loop>
					<source src="/carpinteria.mp4" >
				</video>
			</div>
			
		</div>

		<div class=" grid grid-cols-2 max-md:flex max-md:flex-col gap-10 ">
			<div class=" bg-white max-sm:p-5 px-8 pb-8 max-sm:mx-auto">
				<h2 class="  mb-12 max-sm:mb-5 font-custom font-extrabold text-5xl max-sm:text-3xl max-md:text-4xl max-md:text-center text-orange-500">Electricidad y Fontaneria</h2>
				<p class=" font-custom font-extralight leading-7">En Reformas Nour, nos dedicamos a iluminar y abastecer tus espacios con servicios eléctricos y de fontanería que van más allá de la funcionalidad básica. </p>
				<p class="font-custom font-extralight mt-2 mb-3 leading-7">Nos consideramos artesanos de la comodidad, sino que también mejoran tu calidad de vida diaria.</p>
				<MasInformacion/>
			</div>
			<video class="h-[20rem] max-md:h-auto   object-cover w-full" autoplay muted loop>
				<source src="/fontaneria.mp4">
			</video>
			<div class=" bg-white px-8 pb-8 max-md:p-5 max-md:mt-20 ">
				<h2 class="  mb-12 max-sm:mb-5 font-custom font-extrabold text-5xl max-md:text-4xl  max-sm:text-3xl max-md:text-center text-orange-500">Colocación de Pladur</h2>
				<p class=" font-custom font-extralight leading-7">En Reformas Nour ofrecemos servicios de escayola y colocación de Pladur que van más allá de simples elementos arquitectónicos, brindando a tus espacios un toque de elegancia incomparables. </p>
				<p class="font-custom font-extralight mt-2 mb-3 leading-7">Nuestra dedicación a la excelencia se refleja en la maestría con la que abordamos cada proyecto.</p>
				<MasInformacion/>
			</div>
			<img class="h-[20rem] w-full mt-10 max-md:mt-5 max-md:h-auto object-cover" src="/pladur.webp" alt="Imagen de Pladur">
		</div>

	</main>
	
</Layout>

<style>

	.border-bottom::after{
		content: "";
		display: flex;
		border-bottom: 2px orangered solid;
		width: 50%;
		margin: 0 auto;
		margin-top: 1rem ;	
	}
	
	.animacion {
	  animation: animacion .6s  ease-in-out both;
	}

	.animacion-delay{
		animation: animacion .4s .5s ease-in-out both;
	}
	.animacion-op{
		animation: opacity .6s .7s ease-in-out both;
	}

	@keyframes opacity {
		from {
			opacity: 0;
			translate: 50px 0;
		}
		top: {
			opacity: 100%;
			translate: 0 0;
		};
	}
	
	@keyframes animacion {
  from {
    opacity: 0;
    translate: 0 200px;
  }
  to {
    opacity: 100%;
    translate: 0 0;
  }
}
  </style>


