---

import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">

	<main class="">
		<div class=" grid grid-cols-2 grid-rows-2">
			<img src="./src/img/istockphoto-959332690-2048x2048.jpg" class="  w-80" alt="">
			<p class=" text-3xl uppercase col-span-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit vitae doloribus cumque dolores minus laborum aut iure, magnam praesentium cupiditate? Ut necessitatibus porro mollitia odit delectus, soluta at repellendus consequatur?</p>
		</div>
	</main>
</Layout>


