<div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mr-4 z-10 ">
    <div class="">
      <a title="Escribenos" href="https://wa.me/34632950927" target="_blank" class=" bg-green-500 block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
        <span class=" hidden">Numero de contacto whatsapp</span>
        <img class="object-cover object-center w-full h-full rounded-full" src="./src/img/whatsapp.png"/>
      </a>
    </div>
</div>