---
// import {Image} from 'astro:assets';


// interface Props {
//     imagePath : string;
//     altText: string;
// }
// export default function MyComponent({ imagePath, altText }: Props) {
//   const images = import.meta.glob('/assets/*.{jpeg,jpg,png,gif,webp}');
//   const { imagePath } = Astro.props;  
//   const imageUrl = images[imagePath]();
//   return (
//     <div class="card">
//       <Image src={imageUrl} alt={altText} />
//     </div>
//   );
// }

---

