<footer class=" h-48 bg-orange-500 ">
    <nav class=" flex flex-col justify-center  mx-auto max-w-7xl font-custom ">
        <img class=" w-64 self-center " src="./src/img/logo-nour.png" alt="">
        <div class=" text-center mx-auto">
        <small class=" font-custom">© 2024 Reformas Nour. Todos los derechos reservados.</small>
        </div>
        <ul class="flex justify-center">
            <li class=" border-r-2 ">
                <a class="mr-2 text-white" href="/formulario">Formulario</a>
            </li>
            <li class="">
                <a class="ml-2 text-white" href="tel:+34632950827">Numero</a>
            </li>
        </ul>
    </nav>
</footer>