<footer class=" h-56 bg-white border-t ">
    <nav class=" flex flex-col justify-center  mx-auto max-w-7xl font-custom p-2 ">
        <img class="w-44 self-center mb-2 " src="/logo-nour.png" alt="">
        <div class=" text-center mx-auto mb-9">
        <small class=" text-orange-500">© 2024 Reformas Nour. Todos los derechos reservados.</small>
        </div>
        <ul class="flex justify-center">
            <li class=" border-r-[1px] border-gray-700">
                <a class="mr-2 text-orange-500" href="/formulario">Formulario</a>
            </li>
            <li class="">
                <a class="ml-2 text-orange-500" href="tel:+34632950827">Numero</a>
            </li>
        </ul>
    </nav>
</footer>