---
import HeaderButton from "./HeaderButton.astro";
---

<header class="shadow sticky bg-white top-0 w-screen h-32">
    <nav  class=" mx-auto max-w-7xl font-custom flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6  sm:items-baseline">
        <img class=" w-72" src="./src/img/logo-nour.png" alt="Logo de la Empresa">
        <div class=" sm:mb-0 self-center">
            <HeaderButton href="#">INICIO</HeaderButton>
            <HeaderButton href="#">FORMULARIO</HeaderButton>
        </div>
    </nav>
</header>