---
// const menu:any= document.getElementById("menu")
// const navMenu:any = document.getElementById("navMenu")
// menu.addEventListener('click', () => {
//     navMenu.classList.toggle("show")
// })
---

<header class=" z-10 px-5 shadow sticky top-0 bg-white">
    <nav  class=" max-w-7xl mx-auto font-custom flex justify-between  sm:flex-row sm:text-left sm:justify-between sm:items-baseline">
        <a href="/"> 
            <span class=" hidden">Página de Reformas Nour</span>
            <img class=" max-sm:w-32 py-2 max-sm:mb-0 max-sm:mx-auto w-52" src="./src/img/logo-nour.png" alt="Logo de la Empresa">
        </a>
        <div class=" max-sm:hidden sm:mb-0 mb-0 self-center sm:mt-0">
            <a href="/" class=" font-custom ml-2 px-2 py-1 bg-orange-500 rounded-sm text-white  hover:bg-white  transition  duration-500 hover:cursor-pointer hover:text-orange-500">INICIO</a>
            <a href="/formulario" class=" font-custom ml-2 px-2 py-1 bg-orange-500 rounded-sm text-white  hover:bg-white  transition  duration-500 hover:cursor-pointer hover:text-orange-500">FORMULARIO</a>
        </div>
        <button type="button" id="menu" class=" my-auto sm:hidden">
            <img class=" w-7" src="./src/img/menu.png" alt="">
            <div id="navMenu" class=" bg-orange-300 w-screen h-screen max-sm:hidden sm:mb-0 mb-0 self-center sm:mt-0">
                <a href="/" class=" font-custom ml-2 px-2 py-1 bg-orange-500 rounded-sm text-white  hover:bg-white  transition  duration-500 hover:cursor-pointer hover:text-orange-500">INICIO</a>
                <a href="/formulario" class=" font-custom ml-2 px-2 py-1 bg-orange-500 rounded-sm text-white  hover:bg-white  transition  duration-500 hover:cursor-pointer hover:text-orange-500">FORMULARIO</a>
            </div>
        </button>
    </nav>
</header>

<style>
    .show {
        display: block;
    }

</style>