---
import Contacto from '../components/Contacto.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer.astro';
import { ViewTransitions, fade } from "astro:transitions"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Servicios de Reformas en Calafell, Vendrell, Segur de calafell, Cunit, Cubellas, Desde alicatados y solados, instalaciones eléctricas y fontanería, ofrecemos soluciones personalizadas para renovar y embellecer tus espacios. 
		Expertos en carpintería, tarima, escayola y colocación de Pladur,fusionamos la artesanía con la modernidad. Garantizamos calidad, sostenibilidad y comodidad en cada proyecto.Transforma tu hogar o negocio con Reformas Nour" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/reformas-nour_icon.png" />
		<meta name="generator" content={Astro.generator} / >
		<title>{title}</title>
		<!-- OPEN GRAPH -->
		<meta property="og:title" content="Reformas Nour: Transformando Espacios con Elegancia y Calidad">
		<meta property="og:description" content="Servicios de Reformas en Calafell, Vendrell, Segur de calafell, Cunit, Cubellas, Desde alicatados y solados, instalaciones eléctricas y fontanería, ofrecemos soluciones personalizadas para renovar y embellecer tus espacios. 
		Expertos en carpintería, tarima, escayola y colocación de Pladur,fusionamos la artesanía con la modernidad. Garantizamos calidad, sostenibilidad y comodidad en cada proyecto.Transforma tu hogar o negocio con Reformas Nour">
		<meta property="og:image" content="/reformas-nour-logo.webp">
		<meta property="og:image:alt" content="Logo de Reformas Nour">
		<!--  -->
		<!-- <ViewTransitions /> -->
	</head>
	<body  >
		<Header/>
		<slot  />
		<Contacto/>
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #fff;
		box-sizing: border-box;
		color-scheme: light;
	}
	p{
		font-size: 1.125rem;
	}
	.icon-container::before {
     content: '';
     width: 15px;
     height: 15px;
     background-image: url("/telephone.png");
     background-size: cover; /* Otra opción podría ser 'contain' según tus necesidades */
     background-repeat: no-repeat;
     display: inline-block; 
     margin-right: 0.5rem; 
    }
</style>
